<div class="clearfix mr-t-15 mr-b-15">
  <h2 class="mat-h2">Book ticket</h2>
</div>


<div class="clearfix">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="planTravelFormGroup">
      <form [formGroup]="planTravelFormGroup">
        <ng-template matStepLabel>Plan your travel</ng-template>
        <mat-grid-list cols="5" rowHeight="75px">
          <div class="clearfix mr-t-15">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <input matInput placeholder="Departure city" aria-label="Departure city" [matAutocomplete]="autoDeparture"
                formControlName="departure" required>
                <mat-autocomplete #autoDeparture="matAutocomplete">
                <mat-option *ngFor="let airport of departureAirportList" [value]="airport.city"
                  title="{{airport.name}}" (click)="selectDeparture(airport)">
                  <span>{{airport.city}} ({{airport.code}})</span> |
                  <small>({{airport.name}})</small>
                </mat-option>
                </mat-autocomplete>
                <mat-error>
                  Please select the flight departure city
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field class="full-width">
              <input matInput placeholder="Arrival city" aria-label="Arrival city" [matAutocomplete]="autoArrival"
                formControlName="arrival" required>
              <mat-autocomplete #autoArrival="matAutocomplete">
                <mat-option *ngFor="let airport of arrivalAirportList" [value]="airport.city"
                title="{{airport.name}}"  (click)="selectArrival(airport)">
                <span>{{airport.city}} ({{airport.code}})</span> |
                <small>{{airport.name}}</small>
                </mat-option>
              </mat-autocomplete>
              <mat-error>
                Please select the flight arrival city
              </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </div>

          <div class="clearfix mr-t-15">
            <mat-grid-tile>
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="departDatePicker" placeholder="Depart date" 
                  formControlName="departDate" required
                  [min]="departMinDate" [max]="departMaxDate">
                <mat-datepicker-toggle matSuffix [for]="departDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #departDatePicker></mat-datepicker>
              </mat-form-field>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
        <div class="clearfix mr-t-20">
          <button mat-raised-button color="primary" matStepperNext
            (click)="searchFlights()">Search flights</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="flightSelectionFormGroup">
      <form [formGroup]="flightSelectionFormGroup">
        <ng-template matStepLabel>Select the flight</ng-template>

        <div class="clearfix mr-t-20" *ngIf="flightSelectionLoading">
            <mat-progress-bar mode="query"></mat-progress-bar>
        </div>

        <div class="clearfix mr-t-20" *ngIf="!flightSelectionLoading">
            <p class="mat-h3">Choose a departure flight</p>
            <p class="mat-body">Flights from 
              <span class="mat-body-strong">{{this.planTravelFormGroup.value.departure}}</span> to
              <span class="mat-body-strong">{{this.planTravelFormGroup.value.arrival}}</span> on
              <span class="mat-body-strong">{{this.planTravelFormGroup.value.departDate | date : 'fullDate'}}</span>
            </p>
    
            <div class="clearfix mr-t-20">
                <div class="clearfix mr-t-15 mat-body-strong flight-schedule-header">
                    <mat-grid-list cols="5" rowHeight="50px">
                      <mat-grid-tile>Flight</mat-grid-tile>
                      <mat-grid-tile>Depart</mat-grid-tile>
                      <mat-grid-tile>Arrive</mat-grid-tile>
                      <mat-grid-tile>Duration</mat-grid-tile>
                      <mat-grid-tile>Total fare</mat-grid-tile>
                    </mat-grid-list>
                </div>
                <mat-card class="mr-b-15 pd-5-imp" *ngFor="let schedule of scheduleList">
                    <div class="clearfix">
                        <mat-grid-list cols="5" rowHeight="50px">
                          <mat-grid-tile>{{schedule.flightCode}}</mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card-content class="reset-mr-imp">
                              <div matTooltip="{{schedule.departureAirportName}}">
                                  {{schedule.departureAirportCity}} ({{schedule.departureAirportCode}})
                              </div>
                              <div class="mat-small">
                                  {{schedule.departure_time}} | {{this.planTravelFormGroup.value.departDate | date : 'EEE, MMM d'}}
                              </div>
                            </mat-card-content>
                          </mat-grid-tile>
                          <mat-grid-tile>
                            <mat-card-content class="reset-mr-imp">
                              <div matTooltip="{{schedule.arrivalAirportName}}">
                                  {{schedule.arrivalAirportCity}} ({{schedule.arrivalAirportCode}})
                              </div>
                              <div class="mat-small">
                                  {{schedule.arrival_time}} | {{this.planTravelFormGroup.value.departDate | date : 'EEE, MMM d'}}
                              </div>
                            </mat-card-content>
                          </mat-grid-tile>
                          <mat-grid-tile>{{schedule.duration}}</mat-grid-tile>
                          <mat-grid-tile>
                              <mat-card-content class="reset-mr-imp">
                                  <mat-radio-button (change)="selectFlightFare(schedule)">
                                      $ {{schedule.fare}}
                                  </mat-radio-button>
                              </mat-card-content>
                          </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-card>
            </div>

            <div class="clearfix">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext
                (click)="selectFlight()">Continue</button>
            </div>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Passenger details</ng-template>
      You are now done.
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>