/* @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500'); */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* html, body { 
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
} */

.clearfix{
    clear: both;
}
.cursor-pointer {
    cursor: pointer;
}
.mr-t-5{
    margin-top: 5px;
}
.mr-t-10{
    margin-top: 10px;
}
.mr-t-15{
    margin-top: 15px;
}
.mr-t-20{
    margin-top: 20px;
}

.mr-b-5{
    margin-bottom: 5px;
}
.mr-b-10{
    margin-bottom: 10px;
}
.mr-b-15{
    margin-bottom: 15px;
}
.mr-b-20{
    margin-bottom: 20px;
}

.full-width{
    width: 100%;
}
.muted-text{
    color: #999999;
    font-size: 10px;
    font-family: 'Tahoma';
}

/* Styles for the header in login, register and header component */
.application-logo {
    margin: 0 4px 3px 0;
    height: 35px;
    vertical-align: middle;
}
.fill-remaining-space {
  flex: 1 1 auto;
}

/* Styles for the user card login and register */
.user-mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}
.user-card-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}