<mat-toolbar color="primary">
  <span>
    <img src="assets/img/angular_whiteTransparent.svg" class="application-logo">
    Hsv Air
  </span>
  <span class="fill-remaining-space"></span>
  <a mat-button routerLink="/login">Login</a>
</mat-toolbar>

<div class="user-card-content">
  <mat-card class="user-mat-card">
    <mat-card-content>
      <form [formGroup]="userRegisterForm" (ngSubmit)="onSubmit()">
        <p>Please register with github username to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Username" formControlName="userName" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please enter your username
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please enter your password
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary">Register</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
